@import 'bootstrap/scss/bootstrap';

// Bootstrap functions must be defined first, as they are used in project config.
@import 'bootstrap/scss/functions';

// Bootstrap config
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/alert';

// Bootstrap helpers
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

.card {
    color: rgb(0, 0, 0);
    width: 825px;
    border-radius: 10;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px;
    border: 1px solid rgb(85, 85, 85);
    background: #ddd;
}

.flex-1 {
    flex: 1;
}

.btn:hover {
    border-color: grey;
    background: grey;
}

.switch {
    border-color: grey;
    background: grey;
}

.btn {
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 8px;
    border-color: black;
    color: white;
    cursor: pointer;
}

.btn-secondary {
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 8px;
    border-color: black;
    color: white;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 8px;
    color: black;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 93px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 8px;
}

.navbar a.secondary {
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar button {
    margin-left: auto;
    margin-right: 30px;
    width: 250px;
}

.navbar div {
    margin-right: auto;
    padding: 10px 20px;
}

.navbar a.secondary:hover {
    background-color: #ddd;
    color: black;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.centered {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerSwitch {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
