[submodule "concordium-rust-sdk"]
	path = deps/concordium-rust-sdk
	url = ../concordium-rust-sdk.git
[submodule "deps/concordium-rust-smart-contracts"]
	path = deps/concordium-rust-smart-contracts
	url = ../concordium-rust-smart-contracts/
