@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/alert';

// fonts.scss
@font-face {
    font-family: "Satoshi";
    src: url("./fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --font-satoshi-sans: "Satoshi", sans-serif;
}

// Optionally, set a global font if desired
body {
    font-family: var(--font-satoshi-sans);
}


html,
body,
#root {
    margin: 0;
    padding: 0;
    // margin: 50px 0px 0px 0px;
    height: auto;
    width: 100%;
    display: flex;
}

.centered {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    color: rgb(0, 0, 0);
    width: 825px;
    height: auto;
    border-radius: 10;
    margin: 10px 0px;
    padding: 20px 20px;
    border: 1px solid rgb(85, 85, 85);
    background: transparent;
}

.btn:hover {
    border-color: grey;
    background: grey;
}

.pre {
    height: auto;
    max-height: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.btn {
    padding: 10px 20px;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 8px;
    border-color: black;
    color: white;
    cursor: pointer;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 93px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 8px;
}

.navbar a.secondary {
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar button {
    margin-left: auto;
    margin-right: 30px;
    width: 250px;
}

.navbar div {
    margin-right: auto;
    padding: 10px 20px;
}

.navbar a.secondary:hover {
    background-color: #ddd;
    color: black;
}
.border-theme{
    border: 1px solid #1B2323
}

.cursor-pointer{
    cursor: pointer !important;
}

.text-theme{
    color: #A2CAC1;
}

.bg-theme{
    background-color: #A2CAC1;
}
.bg-transparent{
    background-color: transparent !important;
}

.text-white{
    color: #fff;
}

.text-black{
    color: #fff;
}

.bg-white{
    background-color: #fff;
}