#root {
  max-width: 920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.sponsoredTransactions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.ccd-logo {
  height: rfs-value(20px);
}

.platform-options svg {
  width: 1.5em;
  height: 1.5em;
}

.some-btn {
  display: inline-flex !important;
  align-items: center;

  svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }
}

.alert {display:inline-block;}

.pre {
  text-align: left!important;
}

.loadingText {
  color: #979797;
  overflow-wrap: anywhere;
}
