.candidate {
    flex-direction: row;
    overflow: hidden;

    &[aria-disabled='true'] {
        cursor: default;
    }

    &__body {
        border-right: 10px solid $gray-300;
        transition: border-color 0.1s linear;

        .candidate--selected & {
            border-color: $green;
        }
    }

    img {
        width: 105px;
        height: 105px;
        object-fit: cover;
        object-position: center;
    }
}
