@import 'bootstrap/scss/bootstrap';

.card {
    color: rgb(0, 0, 0);
    width: 825px;
    border-radius: 10;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px;
    border: 1px solid rgb(85, 85, 85);
    background: #ddd;
}

.flex-1 {
    flex: 1;
}

.btn:hover {
    border-color: grey;
    background: grey;
}

.switch {
    border-color: grey;
    background: grey;
}

input {
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 8px;
    color: black;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 93px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 8px;
}

.navbar a.secondary {
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar button {
    margin-left: auto;
    margin-right: 30px;
    width: 250px;
}

.navbar div {
    margin-right: auto;
    padding: 10px 20px;
}

.navbar a.secondary:hover {
    background-color: #ddd;
    color: black;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.centered {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerSwitch {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.amountField {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
    background-color: var(--bs-tertiary-bg);
    border-radius: var(--bs-border-radius-lg);
}

.amountField .input-group-text {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    font-size: 0.875em;
    font-weight: 300;
    background-color: inherit;
    border:0;
}

.amountField .form-control {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: inherit;
    line-height: inherit;
    background-color: inherit;
    border:0;  
}

.saF {
    font-size: calc(1.425rem + 2.1vw);
}

.saF .form-control {
    font-size: calc(1.425rem + 2.1vw);
}

.saF .btn {
    font-size: 0.875em;
}

.QRicon {
    background: var(--bs-tertiary-bg);;
    font-size: calc(1.625rem + 4.5vw);
    font-weight: inherit;
    line-height: inherit;
    border-radius: var(--bs-border-radius-lg);
}
.QRicon:hover {
    background:  gray;
}
.QRicon:active {
    background:  var(--bs-btn-active-bg);
}

.receiverIcon {
    background-color: white;
    padding: 0.25em;
    border-radius: var(--bs-border-radius-lg);
}

.receiverButton{
    color: var(--bs-body-color);
    min-width: 72px;
    min-height: 72px;
    background: inherit;
    border: 0;
    padding: 0;
}

.receiverButton:hover{
    background: inherit;
}

.receiverButton:active{
    background: inherit;
}

