.spinner {
	border: 5px solid #333;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.xs {
  border-width: 2px;
  width: 24px;
  height: 24px;
}

.sm {
  border-width: 3px;
  width: 36px;
  height: 36px;
}

.md {
  border-width: 4px;
  width: 48px;
  height: 48px;
}

.lg {
  border-width: 8px;
  width: 96px;
  height: 96px;
}
